data/
rpnet/result
ultralytics/CCPD2019_YOLOformat/
ultralytics/detection_results
ultralytics/model_pretrain
ocr/crnn/checkpoints
ocr/crnn/data
ocr/crnn/run
lpdr_results_rpnet
crop_results
detect_dir
lpdr_results
crop_results_mutil
detect_dir_mutil
lpdr_results_mutil
yolo11n.pt